{% extends 'base.html.twig' %}


{% block title %}
   Erreur
{% endblock %}


{% block body %}

<div class="alert alert-danger">L'API OpenWeatherMap n'est pas disponible. Merci de contacter l'administrateur. </div>

{% endblock %}
